*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body{
  background-image: url(img/natural-pattern.png);
  font-family: 'Roboto', sans-serif;
  margin: 20px 0;
}

.container{
  width: 60%;
  margin: auto;
}

.header-top{
  background-image: url(img/natural-header.jpg);
  border: 10px solid white;
  height: 450px;
  text-align: center;
}

.header-top h2{
  color: white;
}

nav{
  background-color: grey;
  width: 100%;
  text-align: center;
}

ul.menu li{
  display: inline-block;
  height: 40px;
  line-height: 40px;
  padding: 0 10px;
}

ul.menu li a{
  font-weight: bold;
  font-size: 15px;
  color: white;
  text-decoration: none;
}

ul.menu li:hover{
  background-color: lightgrey;
}

.row::after{
  content: "";
  display: table;
  clear: both;
}

.row{
  margin-top: 10px;
}

.column1, .column2{
  background-color: white;
  border-radius: 5px;
  padding: 30px;

}

.column1 img{
  height: 20px;
  weight: 20px;
}

.column1 h2{
  display:inline-block;
}

.column1 p{
  color: green;
}

.row .column1{
  float:left;
  width: 25%;
}

.row .column2{
  float:left;
  width: 40%;
  margin: 0 5%;
}

.row .column3{
  float:left;
  width: 25%;
}

.widget{
  background-color: white;
  border-radius: 5px;
  margin-bottom: 20px;
  padding: 30px;
}

.row p{
  padding-top: 40px;
}

footer{
  background-color: white;
  border-radius: 5px;

}

footer p{
  text-align: center;
  color: lightgrey;
  font-style: italic;
  font-size: 15px;
}

.social-section{
  display: inline-block;
  width: 33%;
  text-align: center;
}
